{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}ZUHD Store - Bespoke Islamic Apparels | Online Stitching & Measurement{% endblock %}</title>
        <meta name="description"
            content="ZUHD Store - One stop solution & online platform for custom Islamic apparels. Get Tailored Online your Kandora, Jalabiya, Salwar Kameez & accessories. ZUHD Online">
        <meta name="keywords"
            content="online islamic apparel, custom islamic apparel, online kandora solution, online salwar kameez for men, online jalabiya, online islamic apparel for men">
        <meta property="og:title" content="ZUHD Store - Bespoke Islamic Apparels | Online Stitching & Measurement">
        <meta property="og:description"
            content="One stop solution & online platform for custom Islamic apparels. Get Tailored Online your Kandora, Jalabiya, Salwar Kameez & accessories. ZUHD Online">
        <meta property="og:image" content="https://www.style.zuhd.store/front/assets/images/zuhd_banner_img.png">
        <meta property="og:url" content="https://www.zuhd.store/">
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@zuhdstore" />
        <meta name="twitter:creator" content="@zuhdstore" />
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/ico" href="https://www.style.zuhd.store/front/assets/favicon.ico">
        <!-- CSS -->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
    
        <link rel="stylesheet" href="https://www.style.zuhd.store/front/assets/css/m-style.css">
        <link rel="stylesheet" href="https://www.style.zuhd.store/front/assets/css/style.css">
        <link rel="stylesheet" href="https://www.style.zuhd.store/front/assets/css/new-style.css">
        <link rel="stylesheet" href="https://www.style.zuhd.store/front/assets/css/responsive.css">
        <link rel="stylesheet" href="https://www.style.zuhd.store/front/assets/css/intlTelInput.css">
        <link rel="stylesheet" href="https://www.style.zuhd.store/front/assets/css/demo.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.14/css/intlTelInput.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
        <link rel="stylesheet" href="https://use.typekit.net/tvr5psx.css">
    
    
    
        <!-- FONT AWESOME CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    
        <script type="text/javascript" src="https://www.style.zuhd.store/front/assets/js/jquery-3.6.0.min.js"></script>
        <script src="https://www.style.zuhd.store/front/assets/js/jquery.validate.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
    
        <!-- sweetalert -->
        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    
    </head>

<body>

{% block content %}

{% endblock %}

    


    <script src="https://www.style.zuhd.store/front/assets/js/mlib.js"></script>
    <script src="https://www.style.zuhd.store/front/assets/js/function.js"></script>
    <script src="https://www.style.zuhd.store/front/assets/js/wow.js"></script>
    <script src="https://www.style.zuhd.store/front/assets/js/custom.js"></script>
    <script src="https://www.style.zuhd.store/front/assets/js/intlTelInput.js"></script>

    <!-- FONT_AWESOME_JS_CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/js/all.min.js"></script>
    
</body>
</html>