{% extends 'admin_panel/base.html' %}

{% block content %}
<h1>{{ form_title }}</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="product">Product</label>
        <select id="product" name="product" class="form-control">
            {% for product in products %}
            <option value="{{ product.id }}" {% if customization.product.id == product.id %}selected{% endif %}>
                {{ product.product_name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="color">Color</label>
        <select id="color" name="color" class="form-control">
            {% for key, value in customization.COLOR_CHOICES %}
            <option value="{{ key }}" {% if customization.color == key %}selected{% endif %}>
                {{ value }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="fabric">Fabric</label>
        <select id="fabric" name="fabric" class="form-control">
            {% for key, value in customization.FABRIC_CHOICES %}
            <option value="{{ key }}" {% if customization.fabric == key %}selected{% endif %}>
                {{ value }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="embroidery">Embroidery</label>
        <select id="embroidery" name="embroidery" class="form-control">
            {% for key, value in customization.EMBROIDERY_CHOICES %}
            <option value="{{ key }}" {% if customization.embroidery == key %}selected{% endif %}>
                {{ value }}
            </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">{{ form_button_text }}</button>
</form>
{% endblock %}
